html {
    box-sizing: border-box;
}
*,  ::before,  ::after {
    box-sizing: inherit
}

body {
    font-family: 'montserrat', sans-serif;
    background: #eee;
    background-image: url("../images/background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: inherit;
}